/*header*/
body {
  font-family: "montserrat", sans-serif;
}
header {
    background-color: bisque;
    padding: 20px 0;
  }
  .caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
  }
  nav {
    position: absolute;
    top: 120px;
    right: 0px;
  }
  nav li {
    display: inline;
    margin: 0 0 0 15px;
  }
  nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  }
  nav a:hover{
      color:white; 
      text-decoration: underline;
  }
  /*main*/
  .produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
  }
  .produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*deixa todas as medidas dentro do width*/
    border: solid black 2px;
    border-radius: 15px;
  }
  .produtos li:hover {
      border-color:white ;
      background-color:bisque;
  }
  .produtos li:active{
      border-color: aqua;
  }
  .produtos li:hover h2{
      font-size: 35px;
  }
  .produtos li:hover p{
      font-size: 22px;
  }
  .produtos h2 {
    font-size: 30px;
    font-weight: bold;
  }
  .produto-descricao {
    font-size: 18px;
  }
  .preco {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0;
  }
  footer{
      color: white;
      text-align: center;
      background-image: url(img-produto/bg.jpg);/*aqui a img fica atras do conteudo html*/
  }
  footer p{
      font-size: 13px;
      margin-top: 20px;
      
  }
  main{
    width: 940px;
    margin: 0 auto;
    border: 1px solid rgb(143, 142, 142);
    border-radius: 15px;
    padding:0 10%;
    display: block;
  }
  form{
    margin: 40px 0;
    
  }
  .input-padrao{
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    width: 50%;
  }
  form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  #checkbox{
    margin: 20px 0;
  }
  .enviar{
    width: 40%;
    padding: 15px 0;
    background-color: bisque;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
  }
  .enviar:hover{
    background-color:rgb(250, 141, 141);
    transform: rotate(0.5deg) scale(1.1);

  }
  table{
    margin: 20px;
  }
  thead{
    background-color: bisque;
    font-weight: bold;
  }
  td, th{
    border: 1px solid black;
    padding: 5px;
  }