/*header*/
body {
  font-family: "montserrat", sans-serif;
}
header {
  background-color: bisque;
  padding: 20px 0;
}
.caixa {
  width: 940px;
  position: relative;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 120px;
  right: 0px;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
nav a:hover{
    color:white; 
    text-decoration: underline;
}
/*main*/
.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px;
}
.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box; /*deixa todas as medidas dentro do width*/
  border: solid black 2px;
  border-radius: 15px;
}
.produtos li:hover {
    border-color:white ;
    background-color:bisque;
}
.produtos li:active{
    border-color: aqua;
}
.produtos li:hover h2{
    font-size: 35px;
}
.produtos li:hover p{
    font-size: 22px;
}
.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}
.produto-descricao {
  font-size: 18px;
}
.preco {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 0;
}
footer{
    color: white;
    text-align: center;
    background-image: url(img-produto/bg.jpg);/*aqui a img fica atras do conteudo html*/
}
footer p{
    font-size: 13px;
    margin-top: 20px;
    
}
@media screen and (max-width: 480px){
  .caixa, .principal, .conteudo-bene, .mapa, .video, .produtos  { width: auto;} 
  h1 { text-align: center;}
  nav{ position: static;}
  }
  